article {
    background-color: dimgray;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-width: 0px;
    margin: 0px;
    padding: 0px;

}

/* ---- Back to top button styles ---- */

#back-to-top {
    position:fixed;
    bottom: 40px;
    right: 40px;

}
#back-to-top > button{
    background-color: black;
    border-radius: 5px;
    border: solid 1px darkcyan;
    width: fit-content;
    height:fit-content;
    padding-top: 3Spx;
}
#back-to-top:hover > button {
    border: solid 1px rgb(198, 156, 78);
    background-color:#474554;
    
}
#back-to-top > button {
    text-decoration: none;
    color: whitesmoke;
}

/*Profile picture design*/
.ProfilePhoto{
    width: 25;
    height: 25%;
    border-radius: 50%;
    border-style: outset;
    border-width: 5px;
    border-color: black;
    margin: 30px;
}

/*Navigation Bar*/
.navigationBar{
    list-style-type: none;
    width: 200px;
    background-color: #474554;
    margin-left: 60px;
    padding: 0px;
}
.navigationBar a{
    display:block;
    color: black;
    padding: 8px 16px;
    text-decoration: none; 
}
.navigationBar a:hover{
    background-color:#5D411B;
    color: black;
}
/*End of Navigation Bar*/

/*Headings*/
h2, h3{
    margin-left: 60px;
    margin-right: 60px;
    font-style: gramond;
}
h2{
    text-align: center;
    background-color:#5D411B;
    border-end-end-radius: 0%;
    margin-right: 60 px;
    padding: 5px;
}

/* Paragraphs */
p{
    margin-left: 60px;
    margin-right: 60px;
    padding:10px;
    border-radius: 0%;
    margin-top: 15;
    margin-bottom: 15px;
    border-width: 0px;
    background-color: darkslategrey;
}
/*Skills and jobs*/
.jobs, .SkillsList{
    margin-left: 80px;
    margin-right: 60px;
    margin-top: 10px;
    width:fit-content;
    margin-bottom: 10px;
    padding: 10px;
    border-width: 0px;
}

li{
    background-color: darkslategrey;
    padding:  1px;
    margin: 5px;
    border-width: 5px;
    border-color: darkslategrey;
}

/*links*/
a{
    color: #5D411B;
    width:100 px;
}
#IntroToWeb a:hover{
    background-color: black;
}

/*Contact Details Icons*/
.phone, .email, .linkedIn, .gitHub img{
    display: inline;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 10px;
    width: 30px;
}

/*Form Styles*/
form{
    background-color:#5D411B;
    width:fit-content;
    height: auto;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    padding: 10px;
    border-radius: 10px;
}
#contact_me{
    background-color: #5D411B;
}

input, select, textarea{
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    background-color:#474554;
}
::placeholder{
    color:deepskyblue;
}

label{
    background-color:#5D411B;
}

.button1{
    border-radius: 10px;
    padding: 3px;
    border-width: 1px;
    background-color:#474554;
    width: 200px;
    height:30px;
    border-style: outset;
}
.button1:hover{
    background-color:#5D411B;
}

/*Styling the hero image*/
.heroImage {
    background-image: url(../Images/heroo.jpg);
    background-position: center;
    background-repeat: initial;
    background-size: cover;
    background-repeat: repeat-y;
    position: relative;
    padding: 40px;
    margin: 0px;
    
}
.heroText {
    position: relative;
    text-align: center;
    background-size: cover;
    padding: 0px;
}
